* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  #contact {
    padding-top: 75px;
    h2 {
      text-align: center;
      padding-bottom: 30px;
    }
    > p {
      text-align: center;
      padding-bottom: 50px;
      width: 24%;
      justify-self: center;
    }
    #contact-container {
      background-color: #f9fafb;
      width: 24%;
      justify-self: center;
    }
  }
}
